@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h1>ADD A CUISINE TYPE</h1>
<hr/>
@using (Html.BeginForm())
{
  <span> | </span>  @Html.LabelFor(model => model.Type) <span> | </span> 
  @Html.TextBoxFor(model => model.Type) <span> | </span> 

  @Html.LabelFor(model => model.Description) <span> | </span> 
  @Html.TextBoxFor(model => model.Description) <span> | </span> 
<hr />
  <input type="submit" value="ADD" />
}