@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;

<h1>CUISINES</h1>
<hr />
<div class="card">

@if (Model.Count == 0)
{
  <h3>No Cuisines have been added yet!</h3>
}

<ul>
  @foreach (Cuisine cuisine in Model)
  {
    <li>@Html.ActionLink($"{cuisine.Type}", "Details", new { id = cuisine.CuisineId }) | @cuisine.Description</li>
  }
</ul>

</div>
<hr />
<p class="fancyBtn">@Html.ActionLink("Add Restaurant", "Create", "Restaurants")</p>
<p class="fancyBtn">@Html.ActionLink("Add Cuisine", "Create")</p>