@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Diner

<h1>DELETE DINER?</h1>
<hr />

@Html.DisplayFor(model => model.DinerName)

<hr />
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}