@{
  Layout = "_Layout";
}

<h1>DINNER WITH FRIENDS IS BETTER</h1>
<hr />
<p>Dining out with friends, made easy.</p>
<hr />
<p class="fancyBtn">@Html.ActionLink("View Restaurants", "Index", "Restaurants")</p>
<p class="fancyBtn">@Html.ActionLink("View Cuisine Types", "Index", "Cuisines")</p>
<p class="fancyBtn">@Html.ActionLink("View Diners", "Index", "Diners")</p>